@font-face{
    font-family: titleFont;
    src:url("fonts/TitilliumWeb-BoldItalic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topNav {
    position:fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 80px;
    background-color: rgb(242,243,247);
    display:flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    overflow: hidden;
}
    .topNav>h1{
        margin-left: 20px;
        font-size: 36pt;
        font-family: titleFont;
    }
        .topNav>ul {
            margin: 0 auto;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 30%;
        }
            .topNav>ul>li{
                margin: 0 auto;
            }
                .topNav>ul>li>a{
                    font-size: 16pt;
                    display: block;
                    padding: 26px 16px;
                    color: black;
                    text-decoration: none;
                }
                    .topNav>ul>li>a:hover{
                        background-color: rgba(190, 190, 192, 0.281);
                    }
        .topNav>.icon{
            display:none;
        }
    @media screen and (max-width: 640px){
        .topNav>ul{
            width: 100%;
            flex-direction: column;
            display: none;
        }
        .topNav>ul>li{
            width:100%;
        }
        .topNav>.icon{
            color: rgb(0, 102, 255);
            font-size: 24px;
            margin-left: 20px;
            float:left;
            display:block;
        }
    }
    @media screen and (min-width: 641px){
        .topNav>ul{
            display: flex !important;
            flex-direction: row !important;
            align-items: center;
            width: 30%;
        }
    }

#topBanner{
    background-image: url("imgs/grayBanner.jpg");
    min-height: 1050px;
    padding: 80px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    #bannerText{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }
        #bannerText > h2{
            font-size: 6vw;
            font-family: titleFont;
        }

main {
    margin: 0 auto;
    margin-top: 70px;
    width: 95%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
}
    #aboutMe {
        width: 100%;
        min-height: 500px;
        display: flex;
    }
        .background {
            margin: 0 auto;
            width: 80%;
            height: inherit;
        }
            .background>h2 {
                font-size: 36pt;
            }
            .background>p{
                margin-top: 40px;
                font-size: 18pt;
            }

    #skillSet {
        margin-top: 30px;
        width: 100%;
        min-height: 500px;
    }
        #skillSet>h2 {
            font-size: 40pt;
            text-align: center;
        }
        .topRow {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
            .topRow>ul {
                margin-top: 30px;
                list-style: none;
                display: flex;
                gap: 25px;
                align-items: center;
                justify-content: space-evenly;
                width: 50%;
            }
                .topRow>ul>li>img {
                    height: 150px;
                }

        .botRow {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
            .botRow>ul {
                margin-top: 30px;
                list-style: none;
                display: flex;
                gap: 25px;
                align-items: center;
                justify-content: space-evenly;
                width: 50%;
            }
                .botRow>ul>li>img {
                    height: 150px;
                }
    @media screen and (max-width:1000px){
        .topRow{
            flex-direction: column;
        }
            .topRow>ul {
                flex-direction: column;
            }
        .botRow{
            flex-direction: column;
        }
            .botRow>ul {
                flex-direction: column;
            }
    }

#projects {
    margin-top: 100px;
    width: 100%;
    min-height: 900px;
}
    #projects>h2 {
        font-size: 40pt;
        text-align: center;
    }
    .project1 {
        margin: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
        .demo1 {
            width: 40%;
            height: 400px;
        }
            .demo1>img {
                margin-left: 90px;
                width: 70%;
                height: 100%;
                box-shadow: 7px 7px rgba(128, 128, 128, 0.733);
                border-radius: 20px;
            }
        .desc1 {
            width: 30%;
            height: 50%;
        }
            .desc1>h3 {
                font-size: 24pt;
                text-align: center;
            }
    .project2 {
        margin: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .desc2 {
            margin-left: 90px;
            width: 25%;
            height: 50%;
        }
            .desc2>h3 {
                font-size: 24pt;
                text-align: center;
            }
        .demo2 {
            width: 55%;
            height: 400px;
        }
            .demo2>img {
                width: 95%;
                height: 100%;
                box-shadow: 7px 7px rgba(128, 128, 128, 0.733);
                border-radius: 20px;
                border: 1px solid black;
            }
    @media screen and (max-width:1000px){
        .project1{
            flex-direction: column;
        }
        .project2{
            flex-direction: column;
        }
    }

#contacts {
    margin: 0 auto;
    width: 95%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

    #contacts>h3 {
        font-size: 24pt;
    }

    #contacts>ul {
        list-style: none;
        display: table;
        justify-content: space-evenly;
        width: 50%;
    }

        #contacts>ul>li {
            display: table-cell;
            text-align: center;
        }

            #contacts>ul>li>a>img {
                width: 100px;
                height: 100px;
                border-radius: 30px;
            }





.clouds{
    background-image: url("imgs/clouds.png");
    min-height: 300px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
} 